*.o
*.pyc
external/boost_*/
tools/.sconsign.dblite
tools/alignnull
tools/aligntrue
tools/bamconcordantcounts
tools/bamconcordantreads
tools/bamdiscordantfastq
tools/bamfastq
tools/bammixture
tools/bamsamplefastq
tools/bamsamplespanning
tools/bamstats
tools/build/
tools/calccov
tools/calcspandist
tools/clusterconnectivity
tools/clustermatepairs
tools/cycles
tools/decisionmetrics
tools/dosplitalign
tools/dosplitaligngen
tools/estimategc
tools/estislands
tools/evalsplitalign
tools/filterreads
tools/filterrnaseq
tools/initsplitalign
tools/localalign
tools/mclustermatepairs
tools/mpredictbreaks
tools/overlapclusters
tools/paths
tools/predictbreaks
tools/presetcover
tools/qualtrimfastq
tools/rankclusters
tools/realign
tools/realign2
tools/realign_rna
tools/realignp
tools/samplefastq
tools/samplegc
tools/samplemap
tools/samplemappable
tools/setcover
tools/setcover_dnarna
tools/splitseq
tools/testsplit
tools/testssealign
