alignnull
aligntrue
bamconcordantcounts
bamconcordantreads
bamdiscordantfastq
bamextractsimreads
bamfastq
bammixture
bamsamplefastq
bamsamplespanning
bamstats
calccov
calcspandist
clusterconnectivity
clustermatepairs
cycles
decisionmetrics
dosplitalign
dosplitaligngen
estimategc
estislands
evalsplitalign
filterreads
filterrnaseq
initsplitalign
localalign
mclustermatepairs
mpredictbreaks
overlapclusters
paths
postest
predictbreaks
presetcover
qualtrimfastq
rankclusters
realign
realign2
realign_rna
realignp
samplefastq
samplegc
samplemap
samplemappable
setcover
setcover_dnarna
splitseq
testsplit
testssealign
